<h3> View Employee Details</h3>
<div>
    <div>
        <label> <b>First Name: </b></label> {{employee.firstName}}
    </div>
    <div>
        <label> <b>Last Name: </b></label> {{employee.lastName}}
    </div>
    <div>
        <label> <b>Age: </b></label> {{employee.age}}
    </div>
    <div>
        <label> <b>Gender: </b></label> {{employee.gender}}
    </div>
    <div>
        <label> <b>Email ID: </b></label> {{employee.emailId}}
    </div>
    <div>
        <label> <b>Department: </b></label> {{employee.dept}}
    </div>
</div>