<h2> Employee List</h2>

<form class="form-inline">
    <input type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel
     name="key" id="searchName" class="form-control" placeholder="Search employees..." required>
 </form>

<table class="table table-striped">
    <thead>
        <tr>
            <th> E-ID</th>
            <th> First Name</th>
            <th> Last Name</th>
            <th> Age</th>
            <th> Gender</th>
            <th> Email ID</th>
            <th> Dept</th>
            <th> Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
            <td> {{ employee.id }} </td>
            <td> {{ employee.firstName }} </td>
            <td> {{ employee.lastName }} </td>
            <td> {{ employee.age }} </td>
            <td> {{ employee.gender }} </td>
            <td> {{ employee.emailId }} </td>
            <td> {{ employee.dept }} </td>
            <td>
                <button (click)="employeeDetails(employee.id)" class="btn btn-secondary"> View</button>
                <button (click)="updateEmployee(employee.id)" class="btn btn-success" style="margin-left: 10px"> Update</button>
                <button (click)="deleteEmployee(employee.id)" class="btn btn-danger" style="margin-left: 10px"> Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="!employees?.length" class="col-md">
    <div class="alert alert-info" role="alert">
        <h4 class="alert-heading"> NO EMPLOYEES!</h4>
        <p>No Employee were found.</p>
    </div>
</div>